.center-screen {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.container {
    left: 30px;
    padding: 0;
    margin: 0;
}

.transaction {
    padding-top: 100px;
    display: inline-block;
    float: left;
    color: white;
}

.right-element {
    display: inline-block;
    float: left;
}


.addTrans{
    padding-left: 20px;
    padding-bottom: 20px;
}

.newtra {
    padding: 100px 0px 0px 600px;
    color: white;
}