<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .chpass {
        padding: 100px 0px 0px 800px;
        color: white;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div style="padding-left:20px" class="header">
    <a href="/seeTransactions" class="logo">Oversight</a>
    <div style="padding-left:1390px">
        <a href="/seeTransactions">See transactions</a>
        <a href="/seeSpendingPlan">See spending plan</a>
        <div class="dropdown">
            <a>My Account</a>
            <div class="dropdown-content">
                <a style="font-size: 12px" href="/logout">Log out</a>
                <a style="font-size: 12px" href="/changePassword">Change password</a>
                <a style="font-size: 12px" href="/deleteUser">Delete account</a>
                <a style="font-size: 12px" href="/tutorialPage">Help</a>
            </div>
        </div>
    </div>
</div>
<div style="padding-bottom: 40px">
<form class="chpass" th:action="@{/changePassword}"  method="post">
    <h2>Change your password</h2>
    <input type="password" th:value="${oldPassword}" name="oldPassword" placeholder="old password"/>
    <input type="password" th:value="${newPassword}" name="newPassword" placeholder="new password"/>
    <input type="submit" />
</form>
</div>
</body>
</html>