<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a user</title>
</head>
<body>
create user page
<form action="#" th:action="@{/createUser}" th:object="${user}" method="post">
    <label for="amount">Amount</label>
    <input type="text" th:field="*{amount}" id="amount" placeholder="Amount">
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    <label for="category">Category</label>
    <input type="text" th:field="*{category}" id="category" placeholder="Category">
    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    <input type="submit" value="Create user">
</form>

<p><a href="/">Cancel</a></p>
</body>
</html>