<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/logIn.css" th:href="@{/css/logIn.css}" rel="stylesheet" />
</head>
<body>
<div style="padding-left:20px" class="header">
    <a href="/seeTransactions" class="logo">Oversight</a>
    <div style="padding-left:1390px">
        <a href="/seeTransactions">See transactions</a>
        <a href="/seeSpendingPlan">See spending plan</a>
        <div class="dropdown">
            <a>My Account</a>
            <div class="dropdown-content">
                <a style="font-size: 12px" href="/logout">Log out</a>
                <a style="font-size: 12px" href="/changePassword">Change password</a>
                <a style="font-size: 12px" href="/deleteUser">Delete account</a>
                <a style="font-size: 12px" href="/tutorialPage">Help</a>
            </div>
        </div>
    </div>
</div>


<div class="form-2" style="margin: 10vh auto">
    <div class="title-2" style="padding-left: 60px;">Delete User</div>
    <form action="#" th:action="@{/deleteUser}" th:object="${user}" method="post">
        <div class="input-container ic1">
            <input type="text" class="input" th:field="*{password}" id="username" placeholder="Password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <div class="cut"></div>
        </div>
        <input type="submit" class="submit" value="Delete User">
    </form>
</div>

</body>
</html>