<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
Enter your password
<form action="#" th:action="@{/deleteUser}" th:object="${user}" method="post">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Delete user">
</form>
<p><a href="/seeTransactions">Cancel</a></p>
</body>
</html>