<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div th:switch="${LoggedInUser}">
</div>
<div style="padding-left:20px" class="header">
    <a href="/" class="logo">Oversight</a>
    <div style="padding-left:1700px">
        <a href="/createUser">Sign up</a>
        <a href="/login">Log in</a></p>
    </div>
</div>
</body>
</html>