<!--
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<a href="/seeTransactions">See your transactions</a>
<a href="/seeTransactions">See your transactions</a>
<a href="/seeSpendingPlan">See your spending plan</a>
<a href="/createSpendingPlan">Create your spending plan</a>
</body>
</html>
-->
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div style="padding-left:20px" class="header">
    <a href="/seeTransactions" class="logo">Oversight</a>
    <div style="padding-left:1390px">
        <a href="/seeTransactions">See transactions</a>
        <a href="/seeSpendingPlan">See spending plan</a>
        <a href="/tutorialPage">Tutorial Page</a>
        <div class="dropdown">
            <a>My Account</a>
            <div class="dropdown-content">
                <a style="font-size: 12px" href="/logout">Log out</a>
                <a style="font-size: 12px" href="/changePassword">Change password</a>
                <a style="font-size: 12px" href="/deleteUser">Delete account</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>