<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/logIn.css" th:href="@{/css/logIn.css}" rel="stylesheet" />
</head>
<body>
<div class="form" style="margin: 20vh auto">
    <div class="title" style="padding-left: 60px;">Welcome</div>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <div class="input-container ic1">
        <input type="text" class="input" th:field="*{username}" id="username" placeholder="Username">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        <div class="cut"></div>
    </div>

    <div class="input-container ic2">
        <input type="password" class="input" th:field="*{password}" id="password" placeholder="Password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <div class="cut"></div>
    </div>
    <input type="submit" class="submit" value="Log in">
</form>
    <form action="/createUser">
        <input type="submit" class="submit" value="Sign up" />
    </form>
</div>
</body>
</html>