<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/spendingPlan.css" th:href="@{/css/spendingPlan.css}" rel="stylesheet" />
</head>
<body>
<div style="padding-left:20px" class="header">
    <a href="/seeTransactions" class="logo">Oversight</a>
    <div style="padding-left:1390px">
        <a href="/seeTransactions">See transactions</a>
        <a href="/seeSpendingPlan">See spending plan</a>
        <div class="dropdown">
            <a>My Account</a>
            <div class="dropdown-content">
                <a style="font-size: 12px" href="/logout">Log out</a>
                <a style="font-size: 12px" href="/changePassword">Change password</a>
                <a style="font-size: 12px" href="/deleteUser">Delete account</a>
                <a style="font-size: 12px" href="/tutorialPage">Help</a>
            </div>
        </div>
    </div>
</div>
<div class="exist">
    <h2>No negative numbers in spending plan</h2>
    <p><a href="/createSpendingPlan">OK</a></p>
</div>
</body>
</html>