<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org lang=">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Oversight</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/transactions.css" th:href="@{/css/transactions.css}" rel="stylesheet" />
</head>
<body>
<div style="padding-left:20px" class="header">
    <a href="/seeTransactions" class="logo">Oversight</a>
    <div style="padding-left:1390px">
        <a href="/seeTransactions">See transactions</a>
        <a href="/seeSpendingPlan">See spending plan</a>
        <div class="dropdown">
            <a>My Account</a>
            <div class="dropdown-content">
                <a style="font-size: 12px" href="/logout">Log out</a>
                <a style="font-size: 12px" href="/changePassword">Change password</a>
                <a style="font-size: 12px" href="/deleteUser">Delete account</a>
                <a style="font-size: 12px" href="/tutorialPage">Help</a>
            </div>
        </div>
    </div>
</div>
<main>
    <section>
        <header>
            <h1>Welcome to the tutorial page!</h1>
            <p>Here you can learn the basics of how to use the Oversight website</p>
        </header>

        </ul>
    </section>
    <a id="content"></a>
    <article>
        <header>
            <h2>How to manage your transactions</h2>
        </header>
        <p>
            When you have successfully logged in, you will be directed to the logged in page where you can select
            any of the following:
        </p>
        <ul>
            <li>See transactions</li>
            <li>See spending plan</li>
            <li>My Account</li>
        </ul>
        <p></p>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="hero-container">
                </div>
            </div>
        </section>

        <p>Select "See Transactions" to see graphical information on your spending habits, as well as add new spending data!</p>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="hero-container">
                    <div>
                        <p class="title"></p>
                        <p class="subtitle">Here you can add spending data and view graphical information on spending habits!</p>
                    </div>
                    <img class="tutorialMynd" src="../images/seeTransactions2.png" alt="seeTransactions síðan" />
                </div>
            </div>
        </section>
        <p>To add a new transaction, simply click on the "Add a new transaction" button, select a category from the drop down menu,
            input the amount and date of purchase, then finally click the "Add Transaction" button to add the transaction to the system.

        <p>If you feel you've made an error, you can then simply delete any transaction with a click of the delete button.</p>
        <header>
            <h2>How to manage your spending plan</h2>
        </header>
        <p>
            Next, try clicking on the "See spending plan" button located in the top right of the screen between "See transactions" and "Tutorial Page".
            If you do not already have a spending plan, try creating a new one by clicking on the "Create new spending plan" button.
            Then simply input your estimated planned expenses per category and the website will display it visually for your convenience.
        </p>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="hero-container">
                    <div>
                        <p class="title"></p>
                        <p class="subtitle">Select the link to create a spending plan!</p>
                    </div>
                    <img class="tutorialMynd" src="../images/noSpendingPlan.png" alt="seeSpendingPlan page" />
                </div>
                <div class="hero-container">
                    <div>
                        <p class="title"></p>
                        <p class="subtitle">Input your desired planned expenses per category</p>
                    </div>
                    <img class="tutorialMynd" src="../images/createSpendingPlan.png" alt="createSpendingPlan page" />
                </div>
                <div class="hero-container">
                    <div>
                        <p class="title"></p>
                        <p class="subtitle">Click "Create Spending Plan" at the bottom to finalize the spending plan.</p>
                    </div>
                </div>
                <div class="hero-container">
                    <div>
                        <p class="title"></p>
                        <p class="subtitle">Congratulations, you have created your first spending plan!</p>
                    </div>
                    <img class="tutorialMynd" src="../images/spendingPlanComplete.png" alt="seeSpendingPlan page" />
                </div>
            </div>
        </section>
    </article>
</main>

</body>
</html>