<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org lang=">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Page</title>
</head>
<body>
<main>
    <section>
        <header>
            <h1>Welcome to the tutorial page!</h1>
        </header>
        <a href="#content">Beint í efni</a>


        </ul>
    </section>
    <a id="content"></a>
    <article>
        <header>
            <h2>Tip number 1</h2>
        </header>
        <p>
            When you have successfully logged in, you will be directed to the logged in page where you can select
            any of the following:
        </p>
        <ul>
            <li>See transactions</li>
            <li>See spending plan</li>
            <li>My Account</li>
        </ul>
        <p></p>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="hero-container">
                    <div>
                        <p class="title">Tip number 1</p>
                        <p class="subtitle">Logged In!</p>
                    </div>
                    <img class="loggedInMynd" src="../images/loggedIn.jpg" alt="Logged In síðan" />
                </div>
            </div>
        </section>
        <figure>
            <img class="loggedIn" src="../images/loggedIn.png" alt="Logged In síðan."
                 title="Logged In síðan">
            <figcaption>Logged In síðan</figcaption>
        </figure>
    </article>
</main>

</body>
</html>